{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>По номеру карты</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/start_back.css' %}">
    <link rel="stylesheet" href="{% static 'your_bank/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'your_bank/css/transfers.css' %}">
</head>
<body>
    <div class="header">
        <div class="header-area">
            <div class="logo-area">
                <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
                <h1 class="logo-text">RaccoonBank</h1>
            </div>
            <div class="profile-area">
                <h2 class="name">{{ name }}</h2>
                <button class="profile-button" onclick="toggleDropdown()">
                    <img class="profile-img" src="{% static 'your_bank/images/profile_icon.png' %}" alt="Картинка профиля">
                </button>
                <div class="dropdown-menu" id="dropdownMenu">
                    <a href="/your_bank/logout/">
                        <svg width="30" height="30" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 19.1875L19.1875 14.5M19.1875 14.5L14.5 9.8125M19.1875 14.5H2M2 7.07503V7.00031C2 5.25014 2 4.37441 2.34061 3.70594C2.6402 3.11792 3.11792 2.6402 3.70594 2.34061C4.37441 2 5.25014 2 7.00031 2H22.0003C23.7505 2 24.6244 2 25.2928 2.34061C25.8808 2.6402 26.3602 3.11792 26.6597 3.70594C27 4.37375 27 5.24842 27 6.99517V22.0056C27 23.7523 27 24.6258 26.6597 25.2936C26.3602 25.8816 25.8808 26.3602 25.2928 26.6597C24.625 27 23.7516 27 22.0048 27H6.99517C5.24842 27 4.37375 27 3.70594 26.6597C3.11792 26.3602 2.6402 25.8811 2.34061 25.2931C2 24.6247 2 23.7502 2 22V21.9219" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Выход
                    </a>
                </div>
            </div>
        </div>
        <div class="link-container">
            <a href="/your_bank/" class="link">Главная</a>
            <a href="/your_bank/operations/" class="link">Операции</a>
            <a href="/your_bank/transfers/" class="link active-link">Платежи</a>
        </div>
    </div>
    <div class="main">
        <div class="main-area">
            <div class="transfers-debit-area">
                <h1 class="transfer-phone-title">Перевести по номеру карты</h1>
                <form class="data-debit" method="POST" action="/your_bank/transfers-debit/">
                    {% csrf_token %}
                    <input type="text" name="number_card" id="number_card" placeholder="Номер карты" maxlength="16" pattern="\d{16}" required />
                    <select name="subscription" id="card-select" required>
                        {% for card in card_info %}
                            <option value="{{ card.name }} {{ card.number }}  -  {{ card.balance }}">
                                {{ card.name }} {{ card.number }}  -  {{ card.balance }}
                            </option>
                        {% endfor %}
                        {% for deposit in deposits %}
                            <option value="{{ deposit.name }} {{ deposit.number }}  -  {{ deposit.balance }}">
                                {{ deposit.name }} {{ deposit.number }}  -  {{ deposit.balance }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="text" name="cost" id="cost" placeholder="Сумма от 10 ₽" maxlength="13" />
                    <button type="submit">Перевести</button>
                    <p class="error" id="error"></p>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-screen">
        <video src="{% static 'your_bank/video/raccoon.MOV' %}" autoplay loop muted></video>
    </div>

    <div id="transactionModal" class="modal">
        <div class="modal-content">
            <h2 id="modalTitle">Перевод исполнен</h2>
            <p class="account-info" id="accountInfo"></p>
            <p class="amount-info" id="amountInfo"></p>
            <p class="transaction-amount" id="transactionAmount"></p>
            <div class="bank-info" id="bankInfo">
                <div class="bank-logo" id="bankLogo">RaccoonBank</div>
                <div class="card-number" id="cardNumber"></div>
            </div>
            <a href="/your_bank/" class="done-button" id="doneButton" onclick="closeModal()">Готово</a>
        </div>
    </div>
      <script src="{% static 'your_bank/js/script.js' %}"></script>
      <script src="{% static 'your_bank/js/transfers_debit.js' %}"></script>
      <script src="{% static 'js/start_back.js' %}"></script>
</body>
</html>