body{
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    display: flex;
    background-color: #F6F6F6;
    justify-content: center;
    flex-wrap: wrap;
}

.header-area {
    width: 86%;
    height: 75px;
    border-bottom: 2px solid #898989;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.logo-area {
    display: flex;
    width: 300px;
    align-items: center;  
}

.profile-area {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.profile-img {
    width: 50px;
    height: 50px;
}

.profile-button {
    border: none;
    background-color: #F6F6F6;
    padding: 0;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px; 
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
}
.dropdown-menu a svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown-menu a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p{
    font-size: 20px;
}

.logo-text {
    margin: 0;
}

.name {
    margin: 10px;
    margin-right: 10px;
}

.link-container{
    display: flex;
    height: 43px;
    justify-content: left;
    width: 86%;
    align-items: center;
}

.link{
    height: calc(100% - 10px);
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #898989;
    margin-right: 4vw;
}

.active-link{
    border-bottom: 2px solid #898989;
}

.main{
    height: calc(100% - 140px);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-area {
    width: 86%;
    height: 100%;
    display: flex;
}

.debit-cards {
    width: 27%;
    max-width: 320px;
    min-width: 300px;
    margin-right: 60px; 
}

.deposit-cards {
    width: 27%;
    max-width: 320px;
    min-width: 300px;
}

.debit-text, .deposit-text {
    color: #000000;
    position: top;
    margin-bottom: 25px;
}

.debit-card, .deposit-card {
    width: 100%;
    height: 90px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 30px 30px;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    grid-row: 1;
    grid-column: 1;
}

.debit-circle {
    background-color: #FFCC33;
}

.deposit-circle {
    background-color: #006400;
}

.balance {
    vertical-align: auto;
    text-align: left;
    grid-row: 1;
    grid-column: 2;
}

.card-info {
    display: flex;
    grid-row: 2;
    grid-column: 2;
    justify-content: space-between;
}

.add-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
    outline: none;
    justify-content: center;
}